.button {
    font-family: sans-serif;
    font-size: 16px;
    padding: 6px;

    margin: 10pt;

    border-radius: 6px;
    border-width: 1px;
    border-style: solid;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;


    border-color: red;
    background-color: red;
    color: #ffffff;
}