.navbar{

    $navbar-height: 75px;
    --navbar-bg-color: var(--mlt-sys-colors-blue);
    --navbar-shadow: var(--mlt-sys-box-shadow-4);
    --navbar-padding: var(--mlt-sys-padding-14);
    --navbar-round-edge: 120px;
    --navbar-gap: 30px;
    --navbar-text-color: aliceblue;
    --navbar-text-size: 20px;
    
    display: flex;
    align-items: center;
    height: $navbar-height;
    background-color: var(--navbar-bg-color);
    box-shadow: var(--navbar-shadow);
    border-bottom-right-radius: var(--nav-bar-round-edge);

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: var(--navbar-padding);
    }

    &__image{
        height: #{$navbar-height - 15px};
        width: auto;
    }

    &__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--navbar-text-color);
    }

    &__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: var(--navbar-text-size);
    }

    &__list > li {
        margin-left: 10px;
        margin-right: 10px;
    }
}