.myNavbar{

    $myNavbar-height: 75px;
    --myNavbar-bg-color: var(--mlt-sys-colors-blue);
    --myNavbar-shadow: var(--mlt-sys-box-shadow-4);
    --myNavbar-padding: var(--mlt-sys-padding-10);
    --myNavbar-round-edge: 120px;
    --myNavbar-gap: 30px;
    --myNavbar-text-color: aliceblue;
    --myNavbar-text-size: 20px;
    
    display: flex;
    align-items: center;
    height: $myNavbar-height;
    background-color: var(--myNavbar-bg-color);
    box-shadow: var(--myNavbar-shadow);
    border-bottom-right-radius: var(--myNav-bar-round-edge);
    padding: var(--myNavbar-padding);

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__image{
        height: #{$myNavbar-height - 15px};
        width: auto;
    }

    &__menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--myNavbar-text-color);
    }

    &__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: var(--myNavbar-text-size);
    }

    &__list > li {
        margin-left: 10px;
        margin-right: 10px;
    }
}