<nav class="myNavbar">
    <div class="myNavbar__container">
        <img class="myNavbar__image" src="/images/fierabrasLogoImage64x64.png" alt="Logo">
        <div class="myNavbar__menu">
            @if (true) {
                <ul class="myNavbar__list">
                    <li>
                        <a routerLink="/categories">Categorias</a>
                    </li>
                    <li>
                        <a routerLink="/products">Productos</a>
                    </li>
                    <li>
                        <a routerLink="/ingredients">Ingredientes</a>
                    </li>
                    <li>
                        <a routerLink="/users">Usuarios</a>
                    </li>
                    <li>
                        <button class="btn bg-danger" (click)="logOut()">Cerrar Sesion</button>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>
