<nav class="myNavbar">
    <div class="myNavbar__container">
        <img class="myNavbar__image" src="/images/fierabrasLogoImage64x64.png" alt="Logo">
        <div class="myNavbar__menu">
            <!-- toDo, comprobar si se ha iniciado sesion y poer cerrar sesion-->
            @if (true) {
                <ul class="myNavbar__list">
                    <li>
                        <a routerLink="/categories">Categorias</a>
                    </li>
                    <li>
                        <a routerLink="/products">Productos</a>
                    </li>
                    <li>
                        <c-button>Cerrar Sesion</c-button>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>
