<div class="w-100 h-100 p-5 d-flex flex-column justify-content-start g--bg-colors-dark">
    <h3 class="mb-3 g--colors-light">Articulos &nbsp;|&nbsp; Pagina: {{page.pageNumber}} Elementos: {{page.pageSize}}
    </h3>
    <div class="d-flex row row-cols-auto g-3 justify-content-around align-content-center">
        @for(p of products; track p.id){
        <div class="d-flex justify-content-center">
            <card-product (update)="getData()" [product]="p"></card-product>
        </div>
        }
    </div>
</div>