<div class="card-product" style=" cursor: pointer;" (click)="openModal()">
    <div class="d-flex flex-row justify-content-between align-items-center gap-3">
        <div>
            <h3 class="card-product__name">{{product.name}}</h3>
            <p class="card-product__prices">
                <span class="card-product__price--base">Precio: <br/> {{product.basePrice | currency}}</span>
                <span class="card-product__price--discount">Descuento: <br/> {{(product.discountPercentage/100) |
                    percent}}</span>
            </p>
        </div>
        <img class="card-product__img img-fluid bg-danger" src="{{product.image}}">
    </div>
    
    <span class="card-product__price--final">Precio Final: {{product.finalPrice | currency}}</span>
    

    <div class="my-2">
        <div class="g--font-size-4 fw-medium">Ingredientes:</div>
        <div class="card-product__ingredients">
            @for (i of product.ingredients; track i.id) {
                <span class="card-product__ingredient">{{i.name}}</span>
            }
        </div>
    </div>
    
    <div class="my-2">
        <div class="g--font-size-4 fw-medium">Categorias:</div>
        <div class="card-product__categories">
            @for (c of product.categories; track c.id) {
                <span class="card-product__category">{{c.name}}</span>
            }
        </div>
    </div>
</div>

<ng-template cdkPortal>
    <c-edit-modal></c-edit-modal>
</ng-template>