<div class="card-product">
    <img class="card-product__img" src="{{product.image}}">
    <h3 class="card-product__name">{{product.name}}</h3>
    <p class="card-product__prices">
        <span class="card-product__price--final">{{product.finalPrice | currency}}</span>
        &nbsp;
        @if(product.discountPercentage != 0){
            <span class="card-product__price--base">{{product.basePrice | currency}}</span>
            <span class="card-product__price--dicount">{{product.discountPercentage | percent}}</span>
        }
    </p>
    <p class="card-product__valoraciones">
        @for (i of product.ingredients; track i.id) {
            <span class="card-product__opiniones">{{i.name}}</span>
        }
    </p>
    <p class="card-product__valoraciones">
        @for (c of product.categories; track c.id) {
            <span class="card-product__opiniones">{{c.name}}</span>
        }
    </p>
</div>